body{
    font-size: 12px; line-height: 20px; text-decoration: underline;
}
h1{
    size: 65px; color: orange; font-family: sans-serif; text-align: center;
}
ul{
    background-color: orangered;
}
.bg-color {
    background-color: gray;
}
p{
    font-weight: 600; font-size: 3em;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}