div h3:hover {
  border-style: solid;
  border-color: orange;
}

.color1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: yellow;
  font-style: italic;
}

.color2 {
  font-weight: bold;
  background-color: green;
}

.color3 {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  background: violet;
}

.color4 {
  color: aqua;
  font-style: inherit;
  background: black;
}

.color5 {
  font-family: sans-serif;
  font-style: italic;
  background: yellowgreen;
}