.central {
    text-align: center;
    max-width: 70%;
    margin: auto;
}

li:hover {
    background-color: orange;
}

li:active {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol, ul {
    list-style: none;
}